* {
    margin: 0;
    box-sizing: border-box;
}

body { 
    color: #000000bc;
    background-image: url("media/background_image.png");
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    font-family: 'Josefin Sans';
    overflow: hidden;
}

#content_container {    
    width: 100%;
    height: auto;
    padding-bottom: 100px;
    position: absolute;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
}

#git-hub {
    padding: 4px;
    position:  absolute;
    right: 0px;
    top: 0px;
}

a {
    text-decoration: none;
    color: #000000bc;
}

#git-id {
    display: inline-flex;
    font-size: 17px;
    position: relative;
    bottom: 1px;  
    z-index: 1;
}

h1 {
    font-size: 70px;
    margin: 10px 0 30px 0;
    font-family: 'Pokemon Solid';
    transform: rotate(-5deg);
    color: yellow;
    text-align: center;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: blue;
    letter-spacing: 3px;
}

#desc_container {
    font-size: 25px;
    color: yellow;  
    text-align: center;
    padding: 20px 0px;
}

#welcome_para {
    font-size: 40px;
    margin-bottom: 40px;
    font-weight: bold;
}

#desc_para {
    padding: 0px 75px 0 75px;
}

#fetch_container {
    margin: 100px 0 30px 0;
}

input {
    width: 30%;
    font-family: 'Josefin Sans';
    padding: 5px;
    border: 2px solid black;
    background-color: whitesmoke;
}

#button_container {
    display: inline-flex;
    margin-left: -6px;
    border: 2px solid black;
    align-items: center;
    background-color: whitesmoke;
}

button {
    font-family: 'Josefin Sans';
    padding: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.clickable_div {
    cursor: pointer;
    padding: 0 2px;
}

.pokeball_container {
    height: 20px;
    width: 20px;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    background-color: white;
    position: relative;
}

.red_background {
    height: 50%;
    width: 100%;
    background-color: red;
}

.mid_line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 105%;
    height: 2px;
    background-color: black;
}

.white_circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 6px;
    height: 6.5px;
    border: 2px solid black;
    border-radius: 50%;
}

#random_button_container {
    display: flex;
    border: 2px solid black;
    align-items: center;
    background-color: whitesmoke;
    justify-content: center;
    margin-top: 30px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#loader_div {
    display: none;
    margin-top: 100px;
}

#loader {
    width: 150px;
    height: 150px;
}

#loading_text {
    color:rgb(210, 210, 0);
    font-size: 50px;
}

#error_div {
    margin-top: 100px;
    color:rgb(210, 210, 0);
    font-size: 50px;
    width: 100%;
    text-align: center;
}

#card_container {
    display: none;
    justify-content: center;
    margin: 100px 0 50px 0;
}

#grey_container {
    height: 500px;
    width: 65%;
    background-color: #3e5563;
    display: flex;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#page_container {
    display: flex;
    gap: 10px;
    position: relative;
    left: 0;
    width: 100%;
}

.page_switcher {
    padding: 15px 20px;
    position: absolute;
    top: -47px;
    left: 5px;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    color: white;
    cursor: pointer;
    background-color: #3e5563;
}

#stat_container {
    left: 120px;
    padding: 15px 25px;
}

#details_container {
    display: flex;
    height: 95%;
    width: 98%;
    background-color : #2d2d2d;
}

#av_container {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 30px;
}

#pokemon_details {
    margin-top: 100px;
    position: relative;
    display: block;
    font-size: 20px;
}

#image_container {
    display: flex;
    cursor: pointer;
}

.switch_img {
    background-color: grey;
    height: 20px;
    position: relative;
    top: 50%;
}

#pokemon_sprite {
    width: 150px;
    height: 150px;
}

#cry_container {
    background-color: grey;
    width: 150px;
    padding: 5px 10px;
}

#cry_button {
    font-size: 15px;
}

#gender_container {
    margin-top: 20px;
}

#male_button {
    background-color: blue;
}

#female_button {
    background-color: pink;
}

.gender_button {
    font-size: 20px;
}

#info_container {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    justify-content: space-around;
}

.info_wrapper {
    display: flex;
    width: 450px;
    justify-content: space-between;
}

.info_label {
    background-color: #425A69;
    width: 100px;
    padding: 5px;
    border: 2px solid black;
    box-shadow: 1px 1px 1px black;
}

.info_value {
    background-color: #3C4044;
    padding: 5px;
    border: 2px solid black;
    width: 300px;
    text-align: left;
    color: white;
    box-shadow: 1px 1px 1px black;
}

#hidden_label {
    width: 125px;
}

#stats_div {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: space-around;
    padding: 20px;
    flex-direction: column;
}

.stats_wrapper {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.stat_label {
    width: 200px;
}

.stat_bar { 
    width: 370px;
    text-align: left;
    display: flex;
    align-items: center;
}

.inner_bar {
    height: 12px;
    display: inline-block;
    border: 2px solid black;
}

#hp_bar {
    background-color: #8cc454;
}

#attack_bar {
    background-color: #c45454;
}

#defense_bar {
    background-color: #c18752;
}

#sp_attack_bar {
    background-color: #a631cb;
}

#sp_defense_bar {
    background-color: #c6b02f;
}

#speed_bar {
    background-color: #3181cb;
}

#total_bar {
    background-color: #fbfbfb;
}

#alert_container {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 30px;
    font-size: 50px;
    color: rgb(210, 210, 0);
    display: none;
    animation: slideUp 2s ease-in-out forwards;
}

@keyframes slideUp {
    0% {
        bottom: -10%;
    }
    50% {
        bottom: 50%;
    }
    100% {
        bottom: 110%;
    }
}

@media (max-width: 1300px) {
    h1 {
        font-size: 50px;
    }  
    
    #desc_container {
        font-size: 30px;
    }
    
    #desc_para {
        font-size: 20px;
    }
    
    #pokemon_name {
        width: 200px;
    }
    
    #fetch_container {
        margin-top: 30px;
    }
    
    #grey_container {
        transform: scale(0.95);
        transform-origin: top center;
        max-width: 50%;
    }
    
    #pokemon_details {
        margin-top: 50px;
    }  
    
    #av_container {
        width: 100%;
        margin-bottom: 10px;
        margin-left: 0;
        left: 0;
    }
    
    #details_container {
        flex-direction: column;
        align-items: center;    
        justify-content: space-between;
        padding-bottom: 5px;
    }
    
    #info_container {
        width: 80%;
        height: 100%;
        margin-left: 0;
    }
    
    .info_wrapper{
        width: 100%;
    }
    
    .info_label {
        width: 70px;
    }
    
    .info_value {
        width: 200px;
        font-size: 12px;
    }
    
    .stat_bar {
        width: 100%;
    }
    
    .stat_label {
        width: 100px;
        font-size: 10px;
    }
    
    .stats_wrapper {
        flex-wrap: wrap;
        gap: 5px;
    }
    
}


@media (max-width: 860px) {
    body {
        background-size: 800px;
        overflow-y: scroll;
    }  
    
    .page_switcher {
        font-size: 10px;
    }
    
    #prev_img {
        left: 15px;
    }
    
    #next_img {
        left: -15px;
    }
    
    #cry_container {
        padding: 2px 2px;
    }
    
    #cry_button {
        font-size: 10px;
    }
    
    .info_label {
        font-size: 10px;
    }
    
    .info_value {
        font-size: 10px;
    }
    
    #stat_container {
        left: 82px;
    }
    
    .stat_label {
        width: 50px;
    }
    
    #alert_container {
        font-size: 15px;
    }

}


